* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
:root {
  --primary: #e0e6f3;
  --secondary: #5375ea;
  --light: #edeef3;
  --white: #ffffff;
  --black: #000000;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.container {
  display: flex;
  width: 800px;
  margin: 0 auto;
  align-items: center;
}
/* 
.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
} */

.header {
  text-align: center;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  background-color: var(--primary);
  /* position: sticky; */
  height: 50px;
  margin: 3rem 0;
  border-radius: 0.5rem;
}
.mainContainer .container {
  flex-direction: column;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.left {
  text-align: right;
}
.allquotes {
  width: 800px;
  height: 500px;
  margin-top: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  overflow-y: auto;
}

/* width */
.allquotes::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.allquotes::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.5rem;
}

/* Handle */
.allquotes::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 0.5rem;
}

/* Handle on hover */
.allquotes::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}
.quotes * {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.quotes {
  background: var(--secondary);
  color: var(--white);
}

.quotes:nth-child(even) {
  background: var(--light);
  color: var(--black);
}
.quote__form {
  margin-top: 3rem;
  width: 100%;
}

.form__field {
  display: flex;
  flex-direction: column;
}

#form__input {
  width: 100%;
  height: 100px;
  border-radius: 0.5rem;
  padding: 1em;
  border: 2px solid transparent;
  outline: none;
  font-weight: 500;
  font-size: 1em;
  background-color: var(--light);
  color: #666666;
  transition: all 0.5s;
}

#form__input:hover {
  cursor: pointer;
  background-color: var(--white);
}
#form__input:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: var(--secondary);
}

@media screen and (max-width: 800px) {
  .container {
    width: 400px;
  }
  .allquotes {
    width: 400px;
  }
}
